<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Калькулятор букмекерской маржи</title>
	<link href="https://3bet.pro/resources/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://3bet.pro/resources/lib/jquery/jquery.min.js"></script>
	<script src="https://3bet.pro/resources/lib/bootstrap/bootstrap.min.js"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/vee-validate@2.1.0-beta.1/dist/vee-validate.js"></script>
</head>
<body>
<div class="container" id="app3bet">
	<div class="page-header">
		<h1>Калькулятор букмекерской маржи</h1>
	</div>
	<p>
		<toggle-variants :values="resultVariants" :selected="resultsCount" @update:selected="resultsCount = $event" :def="resultsMax"></toggle-variants>
	</p>
	<!--<pre>{{errors}}</pre>-->
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
			<tr>
				<td></td>
				<th v-for="(oneInput, index) in inputsFiltered" :key="index">Исход {{index + 1}}</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th scope="row">Коэффициенты</th>
				<td v-for="(oneInput, index) in inputsFiltered" :key="index">
					<label :class="{ 'has-error': errors.has('koef' + index) }">
						<input v-validate.initial="{ required: true, regex: inputsRegex, 'not-empty': true }"
							   :value="oneInput.view" @input="oneInput.view = $event.target.value" @change="onInputChange($event.target.value, index)"
							   type="text" :name="'koef' + index" class="form-control">
					</label>
				</td>
			</tr>
			<tr>
				<th scope="row">Маржа БК</th>

				<td :colspan="resultsCount" class="text-center">
					<div v-if="errors.items.length" class="alert alert-danger">
						Необходимо указать {{ resultsCount == 2 ? 'оба' : 'все ' + resultsCount }} {{ getDeclension(resultsCount, 'коэффициент', 'коэффициента', 'коэффициентов' )}}
					</div>
					<div v-else>
						{{ calcMarginBk(realMarginsSum) | toFormat(2) }}%
					</div>
				</td>
			</tr>
			<tr>
				<th scope="row">Вероятность наступления исхода</th>
				<td v-for="(oneInput, index) in inputsFiltered" :key="index">
					<div v-if="errors.items.length" class="alert alert-danger">
						Необходимо указать {{ resultsCount == 2 ? 'оба' : 'все ' + resultsCount }} {{getDeclension(resultsCount, 'коэффициент', 'коэффициента', 'коэффициентов')}}
					</div>
					<div v-else>
						<!-- todo метод с проверкой на NaN -->
						{{ oneInput.realMargin/(realMarginsSum) * 100 | toFormat(2) }}%
					</div>
				</td>
			</tr>
			<tr>
				<th scope="row">Вероятность с учётом маржи</th>
				<td v-for="(oneInput, index) in inputsFiltered" :key="index">
					<div v-if="!errors.has('koef' + index) && !isNaN(oneInput.realMargin)">
						{{ oneInput.realMargin * 100 | toFormat(2) }}%
					</div>
				</td>
			</tr>
			<tr>
				<th scope="row">Реальные коэффициенты</th>
				<td v-for="(oneInput, index) in inputsFiltered" :key="index">
					<div v-if="!errors.items.length">
						{{ calcRealKoef(oneInput.realMargin, realMarginsSum) | toFormat(2) }}
					</div>
				</td>
			</tr>
			</tbody>
		</table>

	</div>
</div>

<script type="text/x-template" id="toggle-variants-tpl">
	<div class="btn-group">
		<button type="button"
				v-for="(key, val) in values"
				@click="changeSelectVal(val)"
				:class="[ 'btn', selected == val ? 'btn-success' : 'btn-default' ]"
		>{{ key }}</button>
	</div>
</script>
<script>
	Vue.use(VeeValidate);

	var ToggleVariants = {
		props: [ 'values', 'selected', 'def' ],
		template: '#toggle-variants-tpl',
		ready: function(){
			this.selected = this.def;
		},
		methods: {
			changeSelectVal: function(val){
				this.$emit('update:selected', val)
			}
		}
	};
	var app3bet = new Vue({
		el: '#app3bet',
		created: function(){
			var app = this;
			while (app.inputs.length < app.resultsMax) {
				app.inputs.push({ 'view': '', 'clean': '' });
			}

			var notEmptyRule = {
				getMessage: function(){
					return 'Значение должно быть больше нуля.';
				},
				validate: function(value){
					return value.replace(',', '.') > 0;
				}
			};

			app.$validator.extend('not-empty', notEmptyRule);
		},
		data: {
			resultVariants: { 2 : 'Два исхода', 3 : 'Три исхода' },
			resultsCountChosen: 0,
			inputs: [],
			inputsRegex: /^\d+([\.,]\d+)?$/,
			resultsMin: 2,
			resultsMax: 3,
			results: [],
			realMarginsSum: ''
		},
		watch: {
			inputs: function (n, o) {
				//console.log('inputs', this.inputs);
			}
		},
		computed: {
			resultsCount: {
				get: function(){
					return this.resultsCountChosen || this.resultsMin; /* А может лучше будет Math.max */
				},
				set: function(val){
					this.resultsCountChosen = val;
				}
			},
			inputsFiltered: function(){
				return this.inputs.slice(0, this.resultsCount);
			}
		},
		filters: {
			toFormat: function (value, precision) {
				if (value > 0 && precision > 0) {
					value = value.toFixed(precision).replace('.', ',');
				}

				return value;
			}
		},
		methods: {
			onInputChange: function(value, inputIndex){
				var app = this;
				if (!app.$validator.errors.has('koef' + inputIndex)) {
					app.inputs[inputIndex].clean = value.length ? value.replace(',', '.') : '';
					app.inputs[inputIndex].realMargin = app.inputs[inputIndex].clean > 0 ? 1/app.inputs[inputIndex].clean : '';

				}
				if (!this.$validator.errors.items.length) {
					app.realMarginsSum = 0;
					app.inputsFiltered.forEach(function(oneInput) {
						app.realMarginsSum += parseFloat(oneInput.realMargin);
					});
				}
			},
			getDeclension: function(number, one, two, five){
				var numberLocal = Math.abs(number);
				numberLocal %= 100;
				if (numberLocal >= 5 && numberLocal <= 20) {
					return five
				}
				numberLocal %= 10;
				if (numberLocal == 1) {
					return one;
				}
				if (numberLocal >= 2 && numberLocal <= 4) {
					return two;
				}

				return five;
			},
			calcMarginBk: function(realMarginsSum){
				var marginBk = '';
				if (realMarginsSum > 0) {
					marginBk = (realMarginsSum - 1) * 100;
				}

				return !isNaN(marginBk) ? marginBk : '';
			},
			calcRealKoef: function(realMargin, realMarginsSum){
				var realKoef = '';
				if (realMargin > 0 && realMarginsSum > 0) {
					realKoef =  1 / (realMargin/(realMarginsSum - 1));
				}

				return ''; //!isNaN(realKoef) ? realKoef : ''; todo неверно вычисляется + округление
			}
		},
		components: {
			'toggle-variants': ToggleVariants
		}
	});
</script>
</body>
</html>


